:root {
    --fundo: #D4EFF2;
    --verdemusgo:#4D733E;
    --azulpoggers: #0095A6;
    --ferrugem: #A64600;
    --verdeagua:#005059;
    }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
    
body {
    display: flex;
  flex-direction: column;
background-color: var(--fundo);
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: larger;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: b;
    }

header {
    text-align: center;
    top: 0;
    position: absolute;
    width:100%;
    background-color: var(--verdemusgo);
    }

    header h1 {
        color:white;
        margin-top: 5px;
        font-size: 3em;
        

    }

main{
    margin: 140px;
     flex: 1;
  padding: 20px;
}

main h1{
    color: var(--ferrugem);
    font-family: "Amarante", serif;
}
main p{
    color: var(--verdeagua);
    font-size: 1.5rem;
    font-family: "Amarante", serif;
    font-weight: bold;
}

main h2{
     color: var(--ferrugem);
    padding: 20px;
    font-family: "Amarante", serif;
    }

section{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between;
}

figure, figure img{
    margin: 50px;
    width: 250px;
    height: 250px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: #D4EFF2;
    background-color: #4D733E;
    text-align: center;
    }

dialog{
    margin: 250px;
    background-color: #F2E3B6;
   border-color: #BF8049;
   padding: 20px;
   
    }

    dialog h2{
        font-family: "Cedarville Cursive", cursive;
        color: #351600;
    }
    
 dialog p{
        font-family: "Cedarville Cursive", cursive;
        font-size: 1.5rem ;
        color: #351600;
    }

    dialog button{
        color: #ffffff;
        background-color: #A64600;
        }



footer.container {
    display: flex;
  background-color: #4D733E;
  width: 100%;
  text-align: left;
  color: white;
  bottom: 0;
  margin-top: 150px;
}

footer h2 {
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    }

footer p, a {
    margin-top: 22px;
}

    footer p {
    color: #ffffff;
    text-align: center;
    font-size: 0.95rem;

    }
footer a {
    color: #ffffff;
    }